<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Acceuil</servlet-name>
    <servlet-class>servlet.Acceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acceuil</servlet-name>
    <url-pattern>/acceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Shop</servlet-name>
    <servlet-class>servlet.Shop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shop</servlet-name>
    <url-pattern>/shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>servlet.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>servlet.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Recherche</servlet-name>
    <servlet-class>servlet.Recherche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherche</servlet-name>
    <url-pattern>/recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>servlet.Modifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/modifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Supprimer</servlet-name>
    <servlet-class>servlet.Supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supprimer</servlet-name>
    <url-pattern>/supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modification</servlet-name>
    <servlet-class>servlet.Modification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modification</servlet-name>
    <url-pattern>/modification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Details</servlet-name>
    <servlet-class>servlet.Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Filter</servlet-name>
    <servlet-class>servlet.Filter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/filter</url-pattern>
  </servlet-mapping>
  
  
</web-app>